.form-control:hover{
background-color: rgb(215, 218, 219);
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.input-group{
    margin-top: 5px;
}
.nav-link{
    color: black;
}
.col-12 h3{
    
    text-align: center;
}
.text-dark{
    font-size: 30px;
    margin: 0px;
}
.nav-item p{
    color: white;
    font-family:Nike TG,Helvetica Neue,Helvetica,Arial,sans-serif;;
     font-weight: bold; 
     font-size: 10px;
}
.nav-item span{
color: white;
margin-right: 20px;
font-size: 10px;
}
#list-footer{
    margin-left: 400px;
    /* margin-top: 5px; */
}
/* #list-footer li{
    margin-top: 2px;
} */
#footer{
    margin-top: 20px;
}

.row{
    width: 1445px;
}
.text-muted{
    font-size: 10px;
    margin-top: 10px;
}
.modal-body .row{
    margin-bottom: 10px;
    width: 498px;
}

.modal-body p{
 font-size: 12px;
}
.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
  }
  
  .hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
  }
  
  .hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
  }
  
  .hover-noidung {
    position: relative;
    z-index: 99;
  }
  .hover-1 img {
    width: 105%;
    position: absolute;
    top: 0;
    left: -5%;
    transition: all 0.3s;
  }
  
  .hover-1-noidung {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    transition: all 0.4s;
  }
  
  .hover-1 .hover-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  
  .hover-1-trichdan {
    transform: translateY(0.5rem);
    transition: all 0.4s;
    opacity: 0;
  }
  
  .hover-1:hover .hover-1-noidung {
    bottom: 2rem;
  }
  
  .hover-1:hover .hover-1-trichdan {
    opacity: 1;
    transform: none;
  }
  
  .hover-1:hover img {
    left: 0;
  }
  
  .hover-1:hover .hover-overlay {
    opacity: 0;
  }
  .hover-1-noidung h3 {
      color:rgb(24, 20, 20); 
  }
  .font-weight-light{
      color: rgb(112, 115, 117);
  }
  .hover-1-trichdan{
      color: black;
  }
  